//**** Alerts ****//

//Base Style

.alert {
    padding: @alert-padding;
    margin-bottom: @alert-margin-bottom;
    border: 1px solid transparent;
    border-radius: @border-radius;
}

.alert a {
    font-weight: bold;
}

//Close

.alert .close {
    padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: @alert-close-color;
    float: right;
    position: relative;
	top: @alert-close-top;
    right: @alert-close-right;
    font-size: @alert-close-size;
}

//Info

.alert.alert-info {
    color: @alert-info-color;
    background-color: @alert-info;
    border-color: @alert-info-border;
}

.alert.alert-info a {
   color: darken(@alert-info-color, 5%);
}

.alert.alert-info a:hover, .alert.alert-info a:focus {
   color: darken(@alert-info-color, 10%);
}

.alert.alert-info .close {
   color: @alert-info-color;
}

.alert.alert-info .close:hover {
   color: darken(@alert-info-color, 5%);
}

//Success

.alert.alert-success {
    color: @alert-success-color;
    background-color: @alert-success;
    border-color: @alert-success-border;
}

.alert.alert-success a {
   color: darken(@alert-success-color, 5%);
}

.alert.alert-success a:hover, .alert.alert-success a:focus {
   color: darken(@alert-success-color, 10%);
}

.alert.alert-success .close {
   color: @alert-success-color;
}

.alert.alert-success .close:hover {
   color: darken(@alert-success-color, 5%);
}

//Warning

.alert.alert-warning {
    color: @alert-warning-color;
    background-color: @alert-warning;
    border-color: @alert-warning-border;
}

.alert.alert-warning a {
   color: darken(@alert-warning-color, 5%);
}

.alert.alert-warning a:hover, .alert.alert-warning a:focus {
   color: darken(@alert-warning-color, 10%);
}

.alert.alert-warning .close {
   color: @alert-warning-color;
}

.alert.alert-warning .close:hover {
   color: darken(@alert-warning-color, 5%);
}

//Error

.alert.alert-error {
    color: @alert-error-color;
    background-color: @alert-error;
    border-color: @alert-error-border;
}

.alert.alert-error a {
   color: darken(@alert-error-color, 5%);
}

.alert.alert-error a:hover, .alert.alert-error a:focus {
   color: darken(@alert-error-color, 10%);
}

.alert.alert-error .close {
   color: @alert-error-color;
}

.alert.alert-error .close:hover {
   color: darken(@alert-error-color, 5%);
}

//Styles

.alert.square {
    border-radius: @border-square-radius;
}

.alert.ultra-rounded {
    border-radius: @border-ultra-rounded-radius;
}
