//**** BlockQuotes ****//

//Base Style

.blockquote.blockquote {
	padding: @blockquote-padding;
    background: @blockquote;
	border-left: 4px solid;
	border-left-color: @blockquote-color;
	text-align: @default-text-align;
	margin: 20px 0px;
}

.blockquote.blockquote h4 {
    color: @blockquote-color;
    margin-top: 0px;
    margin-bottom: 10px;
}

.blockquote p:last-child {
    margin-bottom: 0px;
}

//Primary

.blockquote.blockquote-primary {
	border-left-color: @blockquote-primary-color;
}

.blockquote.blockquote-primary h4 {
    color: @blockquote-primary-color;
    margin-top: 0px;
    margin-bottom: 10px;
}

//Success

.blockquote.blockquote-success {
	border-left-color: @blockquote-success-color;
}

.blockquote.blockquote-success h4 {
    color: @blockquote-success-color;
    margin-top: 0px;
    margin-bottom: 10px;
}

//Warning

.blockquote.blockquote-warning {
	border-left-color: @blockquote-warning-color;
}

.blockquote.blockquote-warning h4 {
    color: @blockquote-warning-color;
    margin-top: 0px;
    margin-bottom: 10px;
}

//Error

.blockquote.blockquote-error {
	border-left-color: @blockquote-error-color;
}

.blockquote.blockquote-error h4 {
    color: @blockquote-error-color;
    margin-top: 0px;
    margin-bottom: 10px;
}

//Info

.blockquote.blockquote-info {
	border-left-color: @blockquote-info-color;
}

.blockquote.blockquote-info h4 {
    color: @blockquote-info-color;
    margin-top: 0px;
    margin-bottom: 10px;
}
