//**** Boxes ****//

//Base Style

.box {
    min-height: @box-min-height;
    padding: @box-padding;
    margin-bottom: 20px;
    border-radius: @border-radius;
    color: #666666;
    background-color: @box;
    border: 1px solid @box-border;
}
.box p {
    margin: 0px;
}

//Styles

.box.square {
    border-radius: @border-square-radius;
}

.box.ultra-rounded {
    border-radius: @border-ultra-rounded-radius;
}
