//**** Content ****//

//Base Style

.content {
   padding: @content-padding;
   margin: 0 auto;
}

.navbar .content {
   padding: 0;
}

@media (min-width: @small-screen-width){
   .content {
      width: @content-small;
   }
}

@media (min-width: @medium-screen-width){
   .content {
      width: @content-medium;
   }
}

@media (min-width: @large-screen-width){
   .content {
      width: @content-large;
   }
}

