//**** Footer ****//

//Base Style

.footer {
    text-decoration: none;
    padding: @footer-padding 0;
    background-color: @footer;
    font-size: @default-font-size;
    position: absolute;
	border-top: 1px solid @footer-border;
	width: 100%;
}
.footer p {
    color: @footer-color;
	text-align: center;
}

//Dark

.footer.footer-dark {
    background-color: @footer-dark;
	border-top: 1px solid @footer-dark-border;
}
.footer.footer-dark p {
    color: @footer-dark-color;
}
