//**** Input Groups ****//

//Base Style

.input-group {
    font-size: 0px;
	display: inline-block;
	margin-bottom: @default-margin / 2;
}

.input-group > .input-group-addon {
    padding: @input-padding;
	display: inline-block;
    font-size: @default-font-size;
    color: @input-group-addon-color;
    text-align: center;
    background-color: @input-group-addon;
    border: 1px solid @input-group-addon-border;
}

.input-group > .button, .input-group > .input, .input-group > .input-group-addon {
    display: inline-block;
	width: auto;
    margin: 0px;
    border-radius: 0px;
}

.input-group > .button:first-child, .input-group > .input:first-child, .input-group > .input-group-addon:first-child {
    border-top-left-radius: @border-radius;
	border-bottom-left-radius: @border-radius;
}

.input-group > .button:last-child, .input-group > .input:last-child, .input-group > .input-group-addon:last-child {
    border-top-right-radius: @border-radius;
	border-bottom-right-radius: @border-radius;
}

//Disabled Input Group

.input-group.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: @button-disabled-opacity;
}

//Sizing

.input-group.ultra-small > .input, .input-group.ultra-small > .button, .input-group.ultra-small > .input-group-addon {
    padding: @input-padding-ultra-small;
	font-size: @default-font-size - 2px;
}

.input-group.small > .input, .input-group.small > .button, .input-group.small > .input-group-addon {
    padding: @input-padding-small;
	font-size: @default-font-size - 1px;
}

.input-group.large > .input, .input-group.large > .button, .input-group.large > .input-group-addon {
    padding: @input-padding-large;
	font-size: @default-font-size + 2px;
}

//Styles

.input-group.square > .button, .input-group.square > .input, .input-group.square > .input-group-addon {
    margin: @border-square-radius;
    border-radius: @border-square-radius;
}

.input-group.square > .button:first-child, .input-group.square > .input:first-child, .input-group.square > .input-group-addon:first-child {
    border-top-left-radius: @border-square-radius;
	border-bottom-left-radius: @border-square-radius;
}

.input-group.square > .button:last-child, .input-group.square > .input:last-child, .input-group.square > .input-group-addon:last-child {
    border-top-right-radius: @border-square-radius;
	border-bottom-right-radius: @border-square-radius;
}

.input-group.ultra-rounded > .button, .input-group.ultra-rounded > .input, .input-group.ultra-rounded > .input-group-addon {
    margin: @border-square-radius;
    border-radius: @border-square-radius;
}

.input-group.ultra-rounded > .button:first-child, .input-group.ultra-rounded > .input:first-child, .input-group.ultra-rounded > .input-group-addon:first-child {
    border-top-left-radius: @border-ultra-rounded-radius;
	border-bottom-left-radius: @border-ultra-rounded-radius;
}

.input-group.ultra-rounded > .button:last-child, .input-group.ultra-rounded > .input:last-child, .input-group.ultra-rounded > .input-group-addon:last-child {
    border-top-right-radius: @border-ultra-rounded-radius;
	border-bottom-right-radius: @border-ultra-rounded-radius;
}
