//**** Typography ****//

//Alignment

.alignment-left {
    text-align: left;
}

.alignment-center {
    text-align: center;
}

.alignment-right {
    text-align: right;
}

//Checkbox & Radio Buttons

input[type="checkbox"] {
    margin: 0px;
}

input[type="radio"] {
    margin: 0px;
}

//Text Colors

//Gray

.out-gray {
    color: @out-gray-color;
}

//Primary

.out-primary {
    color: @out-primary-color;
}

//Primary Lighten

.out-primary-lt {
    color: @out-primary-lt-color;
}

//Success

.out-success {
    color: @out-success-color;
}

//Success Lighten

.out-success-lt {
    color: @out-success-lt-color;
}

//Warning

.out-warning {
    color: @out-warning-color;
}

//Warning Lighten

.out-warning-lt {
    color: @out-warning-lt-color;
}

//Error

.out-error {
    color: @out-error-color;
}

//Error Lighten

.out-error-lt {
    color: @out-error-lt-color;
}

//Info

.out-info {
    color: @out-info-color;
}

//Info Lighten

.out-info-lt {
    color: @out-info-lt-color;
}

//Text Style

.out-bold {
   font-weight: bold;
}

.out-italic {
   font-style: italic;
}

//Horziontal Rules

hr {
    margin-top: @hr-margin;
    margin-bottom: @hr-margin;
    border: 0px;
    border-top: 1px solid @hr;
}

hr.dashed {
    border-top: 1px dashed @hr;
}

//Paragraphs

p, .p {
    margin: 0 0 @typo-margin-min 0;
}

//Headers

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: @default-font-weight;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: @typo-margin-max;
    margin-bottom: @typo-margin-min;
}

h4, h5, h6, .h4, .h5, h6 {
    margin-top: @typo-margin-min;
	margin-bottom: @typo-margin-min;
}

h1, .h1 {
    font-size: @h1-size;
}

h2, .h2 {
    font-size: @h2-size;
}

h3, .h3 {
    font-size: @h3-size;
}

h4, .h4 {
    font-size: @h4-size;
}

h5, .h5 {
    font-size: @h5-size;
}

h6, .h6 {
    font-size: @h6-size;
}

//Links

a {
   color: @link;
   text-decoration: none;
   cursor: pointer;
}

a:hover, a:focus {
    color: @link-hover;
}
